<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Meca Oficina</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Meca Oficina</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.767232279794-n1gj11jqlaj6j49kjchdl3l43jioskil</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	
	<!-- Permissões necessárias -->
	<key>NSCameraUsageDescription</key>
	<string>Este app precisa acessar a câmera para tirar fotos dos serviços e perfil.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Este app precisa acessar a galeria para selecionar imagens dos serviços e perfil.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Utilizamos o Face ID para facilitar o login com Apple.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Este app precisa acessar sua localização para mostrar a posição da oficina no mapa.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Este app precisa acessar sua localização para mostrar a posição da oficina no mapa.</string>
	
	<!-- Google Maps API Key -->
	<key>GMSApiKey</key>
	<string>AIzaSyBvOkBwJhXmQ2nE8fG9iL3pR7sT1uV4wX6</string>
</dict>
</plist>